.player-content {
  display: flex;
  flex-direction: row;
}

.player-details {
  display: flex;
  flex-direction: row;
}

.player-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.jersey-number {
  padding-right: 5px;
  padding-left: 5px;
}

.player-info {
  padding-left: 10px;
}

.line {
  width: 2px;
  background-color: rgb(88, 88, 88);
  height: 50%;
}

.player-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.edit-button {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-content {
  display: flex;
  flex-direction: row;
}

.team-info {
  padding-left: 10px;
}
